@page "/components/direct"
@using OptionA.Blazor.Test.Shared.Struct

<PageTitle>Direct Components</PageTitle>
<div>
    <button @onclick="() => _showNoneOption = !_showNoneOption">
        @if (_showNoneOption)
        {
            <span>With none option</span>
        }
        else
        {
            <span>without none option</span>
        }
    </button>
    <button @onclick="() => _orderDescending = !_orderDescending">
        @if (_orderDescending)
        {
            <span>Order descending</span>
        }
        else
        {
            <span>Order ascending</span>
        }
    </button>
    <button @onclick="ChangeOrderMode">
        <span>Type: @_orderMode</span>
    </button>
    <OptAEnumSelect TEnum="TestEnum"
                    OrderDescending="_orderDescending"
                    OrderMode="_orderMode"
                    NameMappings="_nameMappings"
                    TitleMappings="_titleMappings"
                    ShowNoneOption="_showNoneOption"
                    NoneOptionName="@_noneOptiopnName"
                    NoneOptionTitle="@_noneOptionsTitle"
                    @bind-Value="_selectedEnum" />
    <OptAEnumRadioGroup TEnum="TestEnum"
                        OrderDescending="_orderDescending"
                        OrderMode="_orderMode"
                        NameMappings="_nameMappings"
                        TitleMappings="_titleMappings"
                        @bind-Value="_selectedEnum"
                        Orientation="@Orientation" />
    <OptAEnumCheckboxGroup TEnum="TestEnum"
                           OrderDescending="_orderDescending"
                           OrderMode="_orderMode"
                           NameMappings="_nameMappings"
                           TitleMappings="_titleMappings"
                           @bind-Value="_selectedEnums"
                           Orientation="@Orientation" />
    <span>@_selectedEnum</span>
    @if (_selectedEnums != null)
    {
        foreach (var item in _selectedEnums)
        {
            <span>@item</span>
        }
    }
</div>
<div>
    <OptAInputInteger @bind-Value="_selectedInt" />
    <span>@_selectedInt</span>
</div>
<div>
    <OptAInputText @bind-Value="_selectedText" />
    <span>@_selectedText</span>
</div>
<div>
    <OptAInputText @bind-Value="_noneOptiopnName" />
    <span>@_noneOptiopnName</span>
</div>
<div>
    <OptAInputText @bind-Value="_noneOptionsTitle" />
    <span>@_noneOptionsTitle</span>
</div>
<div>
    <button @onclick="() => _autoGrow = !_autoGrow">
        @if (_autoGrow)
        {
            <span>Auto grow</span>
        }
        else
        {
            <span>No auto grow</span>
        }
    </button>
    <OptAInputTextArea @bind-Value="_selectedText2"
                       AutoGrow="_autoGrow" />
    <span>@_selectedText2</span>
</div>
<div>
    <button @onclick="() => _useComparer = !_useComparer">
        @if (_useComparer)
        {
            <span>With comparer</span>
        }
        else
        {
            <span>No comparer</span>
        }
    </button>
    <OptASelect TValue="TestObject"
                Items="_items"
                DisplayValue="DisplayValue"
                TitleValue="TitleValue"
                @bind-Value="@_selectedItem"
                OrderComparer="Comparer" />
    <span>@_selectedItem?.Name</span>
</div>
<div>
    <button @onclick="() => _useComparer = !_useComparer">
        @if (_useComparer)
        {
            <span>With comparer</span>
        }
        else
        {
            <span>No comparer</span>
        }
    </button>
    <button @onclick="() => _radioOrientationVertical = !_radioOrientationVertical">
        @if (_radioOrientationVertical)
        {
            <span>Vertical</span>
        }
        else
        {
            <span>Horizontal</span>
        }
    </button>
    <OptAInputRadioGroup TValue="TestObject"
                         Items="_items"
                         DisplayValue="DisplayValue"
                         TitleValue="TitleValue"
                         @bind-Value="_selectedItem"
                         OrderComparer="Comparer"
                         Orientation="@Orientation" />
    <span>@_selectedItem?.Name</span>
</div>
<div>
    <OptAInputCheckbox @bind-Value="_inputCheckbox" />
    <span>@_inputCheckbox</span>
</div>
<div>
    <OptAInputCheckboxGroup TValue="TestObject"
                            Items="_items"
                            DisplayValue="DisplayValue"
                            TitleValue="TitleValue"
                            @bind-Value="_selectedItems"
                            OrderComparer="Comparer"
                            Orientation="@Orientation" />
    <span>
        @if (_selectedItems != null)
        {
            foreach (var item in _selectedItems)
            {
                <span>@item.Name</span>
            }
        }
    </span>
</div>