@inherits Microsoft.AspNetCore.Components.Forms.InputTextArea
@switch (InternalMode)
{
    case BindMode.OnInput:
        @if (AutoGrow)
        {
            <div opta-text="@CurrentValueAsString" @attributes="GetContainerAttributes()">
                <textarea @attributes="Attributes" @bind="@CurrentValueAsString" @bind:event="oninput" @ref="_input" />
            </div>
        }
        else
        {
            <textarea @attributes="Attributes" @bind="@CurrentValueAsString" @bind:event="oninput" @ref="_input" />
        }
        break;
    case BindMode.OnChange:
        @if (AutoGrow)
        {
            <div opta-text="@CurrentValueAsString" @attributes="GetContainerAttributes()">
                <textarea @attributes="Attributes" @bind="@CurrentValueAsString" @onkeydown="ForceBindOnEnter" @ref="_input" />
            </div>
        }
        else
        {
            <textarea @attributes="Attributes" @bind="@CurrentValueAsString" @ref="_input" />
        }                   
        break;
}



