@namespace OptionA.Blazor.Components
@inherits OptAComponent

@typeparam TValue

<div @attributes="@GetAllAttributes()">
    @foreach (var (item, index) in OrderedItems.Select((item, index) => (item, index)))
{
        @if (index == 0)
        {
            <OptAInputCheckbox @ref="_input"
                               ValueChanged="(selected) => OnSelectedChanged(item.Index, selected)"
                               Description="@GetDisplayName(item.Value)"
                               Attributes="@GetCheckboxAttributes(item.Value)" />
        }
        else
        {
            <OptAInputCheckbox ValueChanged="(selected) => OnSelectedChanged(item.Index, selected)"
                               Description="@GetDisplayName(item.Value)"
                               Attributes="@GetCheckboxAttributes(item.Value)" />
        }
}
</div>
