@using Microsoft.AspNetCore.Components.Forms
@namespace OptionA.Blazor.Components
@inherits OptAComponent

@typeparam TEnum where TEnum : struct, Enum

<div @attributes="@GetAllAttributes()">
    <InputRadioGroup @bind-Value="InternalValue">
        @foreach (var (item, index) in OrderedItems.Select((item, index) => (item, index)))
        {
            @if (index == 0)
            {
                <label @attributes="@GetOptionLabelAttributes(item)">
                    <InputRadio Value="@item" @ref="_input" /> @GetDisplayName(item)
                </label>
            }
            else
            {
                <label @attributes="@GetOptionLabelAttributes(item)">
                    <InputRadio Value="@item" /> @GetDisplayName(item)
                </label>
            }            
        }
    </InputRadioGroup>
</div>
