@using Microsoft.AspNetCore.Components.Forms
@namespace OptionA.Blazor.Components
@inherits OptAComponent

@typeparam TValue


<div @attributes="@GetAllAttributes()">
    <InputRadioGroup @bind-Value="InternalValue">
        @foreach (var (item, index) in OrderedItems.Select((item, index) => (item, index)))
        {
            @if (index == 0)
            {
                <label @attributes="@GetOptionLabelAttributes(item.Value)">
                    <InputRadio Value="@item.Index" @ref="_input" /> @GetDisplayName(item.Value)
                </label>
            }
            else
            {
                <label @attributes="@GetOptionLabelAttributes(item.Value)">
                    <InputRadio Value="@item.Index" /> @GetDisplayName(item.Value)
                </label>
            }
        }
    </InputRadioGroup>
</div>
