@if (Content is not null)
{
    <div @attributes="@DataProvider.GetAttributes(BuilderType, AttributeTypes.GroupClass)">
        <div @attributes="@DataProvider.GetAttributes(BuilderType, AttributeTypes.LabelClass)">
            <OptaText Content="@DataProvider.GetContent(BuilderType, AttributeTypes.Label, Label)" />
            <div @attributes="@DataProvider.GetAttributes(BuilderType, AttributeTypes.ContainerClass | AttributeTypes.RemoveButton)">
                <button type="button" @onclick="async () => await OnRemove.InvokeAsync(Content)" @attributes="@DataProvider.GetAttributes(BuilderType, AttributeTypes.Class | AttributeTypes.Title | AttributeTypes.RemoveButton)">
                    <OptaText Content="@DataProvider.GetContent(BuilderType, AttributeTypes.RemoveButton | AttributeTypes.Content, "Remove")" />
                </button>
            </div>
        </div>
        <div @attributes="@DataProvider.GetAttributes(BuilderType, AttributeTypes.InnerGroupClass)">
            <div @attributes="@DataProvider.GetAttributes(BuilderType, AttributeTypes.ContainerClass)">
                @ChildContent
            </div>
            <div @attributes="@DataProvider.GetAttributes(BuilderType, AttributeTypes.ExtraPropertiesClass)">
                <OptaListBuilder Items="Content.AdditionalClasses"
                                 BuilderType="BuilderType.AdditionalClasses"
                                 Label="Additional classes"
                                 OnChange="OnChange" />
                <OptaListBuilder Items="Content.RemovedClasses"
                                 BuilderType="BuilderType.RemovedClasses"
                                 Label="Removed classes"
                                 OnChange="OnChange" />
            </div>
        </div>
    </div>
}