<div @attributes="@DataProvider.GetAttributes(BuilderType.Paragraph, AttributeTypes.ContainerClass | AttributeTypes.AddButton)">
    <button type="button" @onclick="async () => await AddContent(ContentType.Paragraph)" @attributes="@DataProvider.GetAttributes(BuilderType.Paragraph, AttributeTypes.Class | AttributeTypes.Title | AttributeTypes.AddButton)">
        <OptaText Content="@DataProvider.GetContent(BuilderType.Paragraph, AttributeTypes.AddButton | AttributeTypes.Content, "Add paragraph")" />
    </button>
</div>
<div @attributes="@DataProvider.GetAttributes(BuilderType.Header, AttributeTypes.ContainerClass | AttributeTypes.AddButton)">
    <button type="button" @onclick="async () => await AddContent(ContentType.Header)" @attributes="@DataProvider.GetAttributes(BuilderType.Header, AttributeTypes.Class | AttributeTypes.Title | AttributeTypes.AddButton)">
        <OptaText Content="@DataProvider.GetContent(BuilderType.Header, AttributeTypes.AddButton | AttributeTypes.Content, "Add header")" />
    </button>
</div>
