@if (Items is not null)
{
    <div>
        <div>
            <OptaChild Content="@DataProvider.GetContent(BuilderType.List, Label)" />
        </div>
        <div @attributes="@DataProvider.GetAttributes(BuilderType.ListItemsContainer)">
            @foreach (var item in Items.Select((value, index) => new { Item = value, Index = index }))
            {
                <div @attributes="@DataProvider.GetAttributes(BuilderType.ListItemContainer)">
                    <div @attributes="@DataProvider.GetAttributes(BuilderType.ListItemInputContainer)">
                        <input @attributes="@GetItemAttributes()" value="@item.Item" @oninput="@(e => UpdateItem($"{e.Value}", item.Index))" />             
                    </div>
                    <div @attributes="@DataProvider.GetAttributes(BuilderType.ListRemoveButtonContainer)">
                        <button type="button" @onclick="() => RemoveItem(item.Index)" @attributes="@DataProvider.GetAttributes(BuilderType.ListRemoveButton)">
                            <OptaChild Content="@DataProvider.GetContent(BuilderType.ListRemoveButton, "Remove")" />
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
}