@namespace OptionA.Blazor.Components

<button id="@Id"
        title="@GetToolTip()"
        type="@GetButtonType()"
        class="@GetButtonClass()"
        disabled="@IsDisabled()"
        @onclick="Click">
    @if (ButtonType.HasFlag(ButtonTypes.Icon))
    {
        <i class="@GetIcon()"></i>
    }
    @if (ButtonType.HasFlag(ButtonTypes.Name))
    {
        <span>@Name</span>
    }
</button>