@namespace OptionA.Blazor.Components

<li class="opta-gallery-slide @AdditionalClasses @Provider.GetDefaultImageClasses()" active="@IsCurrent">
    @if (IsCurrent)
    {
        <div class="opta-gallery-image-title">@ImageText</div>
        <img src="@ImageUrl" alt="@ImageText" title="@ImageText" class="opta-gallery-image" />
        @if (ChildContent != null)
        {
            <div class="opta-gallery-image-description">
                @ChildContent
            </div>
        }
    }
</li>