@inherits OptaComponent
<div @attributes="@GetWrapperAttributes()" @onclick="async () => await Close()">
    <div @attributes="@GetModalAttributes()" @onclick:stopPropagation>
        <button @attributes="@GetCloseButtonAttributes()" @onclick="async () => await Close()">@Provider.ModalCloseButtonText()</button>
        @ChildContent
    </div>
</div>
 @if (Show)
{
    <div @attributes="@GetBackgroundAttributes()" @onclick="async () => await Close()"></div>
}


