<li title="@Description" class="opta-menu-group @GetClasses()" @onclick="() => Toggle()" open="@_open">
    <a class="@GetLinkClasses()">@Name</a>
    @if (_open)
    {
        <div class="opta-dropdown @GetOrientation()">
            <ul>
                @if (Items is not null)
                {
                    @Items
                }
            </ul>
        </div>
    }
</li>
@if (_open)
{
    <div class="opta-menu-group-background" @onclick="() => Toggle()"></div>
}