@namespace OptionA.Blazor.Components
@inherits OptaComponent

<li @attributes="@GetAttributes()"
    @onclick="() => Toggle()"
    @onmouseenter="() => MouseEnter()" 
    @onmouseleave="() => MouseLeave()">
    <a @attributes="@GetLinkAttributes()">@Name</a>
    <div @attributes="@GetDropdownAttributes()" @ref="_dropDown">
        <menu>
            @if (Items is not null)
            {
                @Items
            }
        </menu>
    </div> 
</li>

@if (_open && !DataProvider.OpenGroupOnMouseOver())
{
    <div @attributes="@GetBackgroundAttributes()" @onclick="() => Toggle()"></div>

}