<li title="@Description" class="opta-menu-item @GetClasses()">    
    @if (!string.IsNullOrEmpty(Name))
    {
        <a href="@Href" class="@GetLinkClasses()" @onclick="ItemSelected">@Name</a>
    }  
    @if (ChildContent is not null)
    {
        @ChildContent
    }
</li>