<li title="@Description" class="@GetClasses()">    
    @if (!string.IsNullOrEmpty(Name))
    {
        <a href="@Href" class="@GetLinkClasses()">@Name</a>
    }  
    @if (ChildContent is null)
    {
        @ChildContent
    }
</li>