@using OptionA.Blazor.Blog.Builder.HelperComponents
@if (Content is not null)
{
    <OptABlogComponent Name="**Header**"
                       ContentChanged="ContentChanged"
                       ContentRemoved="ContentRemoved"
                       ContentIndex="ContentIndex"
                       TotalContentCount="TotalContentCount"
                       MovedUp="MovedUp"
                       MovedDown="MovedDown"
                       Content="Content">
        <label @attributes="@GetLabelAttributes(SizeId)">
            <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Size")" />
        </label>
        <OptAEnumSelect TEnum="HeaderSize" @bind-Value="InternalSize" AdditionalAttributes="@GetSizeAttributes()"  />
        <label @attributes="@GetLabelAttributes(HeaderId)">
            <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Value")" />
        </label>
        <DirectInputText @bind-Value="Content.Content" AdditionalAttributes="@GetHeaderAttributes()" />
    </OptABlogComponent>
}