@using OptionA.Blazor.Blog.Builder.HelperComponents
@using OptionA.Blazor.Components
@if (Content is not null)
{
    <OptABlogComponent Name="**Quote**"
                       ContentChanged="ContentChanged"
                       ContentRemoved="ContentRemoved"
                       ContentIndex="ContentIndex"
                       TotalContentCount="TotalContentCount"
                       MovedUp="MovedUp"
                       MovedDown="MovedDown"
                       Content="Content">
        <ChildContent>
            <label @attributes="@GetLabelAttributes(QuoteId)">
                <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Quote")" />
            </label>
            <OptAInputTextArea @bind-Value="Content.Quote" 
                               Attributes="@GetAttributes(QuoteId, "Quote...")"
                               AutoGrow="true" />
            <label @attributes="@GetLabelAttributes(SourceId)">
                <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Source")" />
            </label>
            <OptAInputText @bind-Value="Content.Source"
                           Attributes="@GetAttributes(SourceId, "Source...")" />
            <label @attributes="@GetLabelAttributes(SourceUrlId)">
                <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Source url")" />
            </label>
            <OptAInputText @bind-Value="Content.SourceUrl" 
                           Attributes="@GetAttributes(SourceUrlId, "Source url...")" />
        </ChildContent>
        <AdditionalProperties>
            <OptAHelperList ContentChanged="ContentChanged"
                            ItemPlaceholder="Source class.."
                            ItemTitle="Add additional classes to source"
                            Label="Additional source classes"
                            Items="Content.AdditionalSourceClasses" />
            <OptAHelperList ContentChanged="ContentChanged"
                            ItemPlaceholder="Class to exclude for source.."
                            ItemTitle="Default classes to remove for source"
                            Label="Removed default source classes"
                            Items="Content.RemovedSourceClasses" />
        </AdditionalProperties>
    </OptABlogComponent>
}