@using OptionA.Blazor.Blog.Builder.HelperComponents
@if (Content is not null)
{
    <OptABlogComponent Name="**Frame**"
                       ContentChanged="ContentChanged"
                       ContentRemoved="ContentRemoved"
                       ContentIndex="ContentIndex"
                       TotalContentCount="TotalContentCount"
                       MovedUp="MovedUp"
                       MovedDown="MovedDown"
                       Content="Content">
        <label @attributes="@GetLabelAttributes(SourceId)">
            <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Source")" />
        </label>
        <DirectInputText @bind-Value="Content.Source" AdditionalAttributes="@GetAttributes(SourceId, "Source...")" />
        <label @attributes="@GetLabelAttributes(TitleId)">
            <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Title")" />
        </label>
        <DirectInputText @bind-Value="Content.Title" AdditionalAttributes="@GetAttributes(TitleId, "Title...")" />
        <label @attributes="@GetLabelAttributes(WidthId)">
            <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Width")" />
        </label>
        <DirectInputText @bind-Value="Content.Width" AdditionalAttributes="@GetAttributes(WidthId, "Width...")" />
        <label @attributes="@GetLabelAttributes(HeightId)">
            <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Height")" />
        </label>
        <DirectInputText @bind-Value="Content.Height" AdditionalAttributes="@GetAttributes(HeightId, "Height...")" />
    </OptABlogComponent>
}