@using Microsoft.AspNetCore.Components.Forms
@using OptionA.Blazor.Blog.Builder.HelperComponents
@using OptionA.Blazor.Components
@if (Post is not null)
{
    <OptABlogComponent Name="**Post**"
                       HideButtons="true">
        <label @attributes="@GetLabelAttributes(TitleId)">
            <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Title")" />
        </label>
        <OptAInputText @bind-Value="Post.Title" 
                       Attributes="@GetTitleAttributes()"  />
        <label @attributes="@GetLabelAttributes(DateId)">
            <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Date")" />
        </label>
        <InputDate @bind-Value="Post.Date" AdditionalAttributes="@GetDateAttributes()" />
        <label @attributes="@GetLabelAttributes(SubtitleId)">
            <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Subtitle")" />
        </label>
        <OptAInputTextArea @bind-Value="Post.Subtitle" 
                           Attributes="GetSubtitleAttributes()" 
                           AutoGrow="true" />
        <OptAHelperList Items="Post.Tags"
                        Label="Tags"
                        ItemPlaceholder="Tag..."
                        ItemTitle="Add a tag to the post"
                        ContentChanged="async () => await PropertyChanged.InvokeAsync(nameof(Post.Tags))" />
    </OptABlogComponent>
}