@if (Content is not null)
{
    <OptABlogComponent Name="**Quote**"
                       ContentChanged="ContentChanged"
                       ContentRemoved="ContentRemoved"
                       ContentIndex="ContentIndex"
                       TotalContentCount="TotalContentCount"
                       MovedUp="MovedUp"
                       MovedDown="MovedDown"
                       Content="Content"
                       CanDrag="true"
                       DragStarted="DragStarted"
                       DragEnded="DragEnded"
                       MovedToIndex="MovedToIndex">
        <ChildContent>
            <label @attributes="@GetLabelAttributes(QuoteId)">
                <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Quote")" />
            </label>
            <OptAFlexibleTextArea @bind-Value="Content.Quote"
                                  Attributes="@GetAttributes(QuoteId, "Quote...")"
                                  Mode="_bindMode"
                                  DisplayAutoGrow="_showAutoGrow"
                                  InitialAutoGrow="_autoGrow"/>
            <label @attributes="@GetLabelAttributes(SourceId)">
                <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Source")" />
            </label>
            <OptAInputText @bind-Value="Content.Source"
                           Attributes="@GetAttributes(SourceId, "Source...")"
                           Mode="_bindMode"/>
            <label @attributes="@GetLabelAttributes(SourceUrlId)">
                <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Source url")" />
            </label>
            <OptAInputText @bind-Value="Content.SourceUrl" 
                           Attributes="@GetAttributes(SourceUrlId, "Source url...")"
                           Mode="_bindMode"/>
        </ChildContent>
        <AdditionalProperties>
            <OptAHelperList ContentChanged="ContentChanged"
                            ItemPlaceholder="Source class.."
                            ItemTitle="Add additional classes to source"
                            Label="Additional source classes"
                            Items="Content.AdditionalSourceClasses" />
            <OptAHelperList ContentChanged="ContentChanged"
                            ItemPlaceholder="Class to exclude for source.."
                            ItemTitle="Default classes to remove for source"
                            Label="Removed default source classes"
                            Items="Content.RemovedSourceClasses" />
            <label>
                <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Bind mode")" />
            </label>
            <OptAEnumSelect @bind-Value="_bindMode" TEnum="BindMode" />
            <OptAInputCheckbox @bind-Value="_showAutoGrow" Description="Show enable autogrow" />
            <OptAInputCheckbox @bind-Value="_autoGrow" Description="Auto grow status" />
        </AdditionalProperties>
    </OptABlogComponent>
}