@using OptionA.Blazor.Blog.Builder.HelperComponents
@using OptionA.Blazor.Components
@if (Content is not null)
{
    <OptABlogComponent Name="**Paragraph**"
                       ContentChanged="ContentChanged"
                       ContentRemoved="ContentRemoved"
                       ContentIndex="ContentIndex"
                       TotalContentCount="TotalContentCount"
                       MovedUp="MovedUp"
                       MovedDown="MovedDown"
                       Content="Content">
        <label @attributes="@GetLabelAttributes(CodeLanguageId)">
            <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Language")" />
        </label>
        <OptAEnumSelect TEnum="CodeLanguage" @bind-Value="InternalLanguage" AdditionalAttributes="@GetCodeLanguageAttributes()" />
        <label @attributes="@GetLabelAttributes(CodeId)">
            <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Code")" />
        </label>
        <OptAInputTextArea @bind-Value="Content.Code"
                           Attributes="@GetCodeAttributes()" 
                           AutoGrow="true" />
    </OptABlogComponent>
}