@if (Content is not null)
{
    <OptABlogComponent Name="**Code**"
                       ContentChanged="ContentChanged"
                       ContentRemoved="ContentRemoved"
                       ContentIndex="ContentIndex"
                       TotalContentCount="TotalContentCount"
                       MovedUp="MovedUp"
                       MovedDown="MovedDown"
                       Content="Content"
                       CanDrag="true"
                       DragStarted="DragStarted"
                       DragEnded="DragEnded">
        <label @attributes="@GetLabelAttributes(CodeLanguageId)">
            <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Language")" />
        </label>
        <OptAEnumSelect TEnum="CodeLanguage" @bind-Value="InternalLanguage" Attributes="@GetCodeLanguageAttributes()" />
        @if (InternalLanguage == CodeLanguage.Other)
        {
            <label @attributes="@GetLabelAttributes(OtherLanguageId)">
                <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Other")" />
            </label>
            <OptAInputText @bind-Value="Content.OtherLanguage" Attributes="@GetOtherLanguageAttributes()" />
        }
        <label @attributes="@GetLabelAttributes(CodeId)">
            <OptAChild Content="@DataProvider.GetContent(BuilderType.Label, "Code")" />
        </label>
        <OptAFlexibleTextArea @bind-Value="Content.Code"
                              Attributes="@GetCodeAttributes()" />
    </OptABlogComponent>
}